@import 'vars';

.navigation {
  .navigation--list {
    max-width: $width-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 100%;

    .navigation--list--item {
      flex: 1;
      align-self: center;
      display: inline-block;
      text-align: center;
      font-weight: $font-bold;

      &.navigation--list--item__active {
        position: relative;

        &:after {
          position: absolute;
          content: '';
          display: inline-block;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $color-text-secondary;
        }
      }

      .navigation--list--item--link {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 16px 0;
        color: inherit;
        font-size: 0.6rem;
        opacity: 1;
        transition: opacity 200ms ease-out;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          background-color: $color-active;
        }
      }
    }
  }
}
