.story-card {
  border-top: $border 4px;
  padding: 12px 0 52px;

  .story-card--date {
    padding: 8px 12px 4px;
    color: $color-text-secondary;
  }

  .story-card--title {
    padding: 0 12px;
    font-weight: $font-bold;
  }

  .story-card--thumbnail {
    .img {
      width: 100%;
      padding-top: 50%;
    }
  }
}
