extends /application/Layout

block import
  include /components/Header
  include /components/Footer

block meta
  link(rel="stylesheet" href="/pages/About/index.css")

block body
  .About
    +Header(props.header)
    .About--Content
      .About--Content--Title= dic.t('Pages.About.ABOUT')
      .About--Content--Text!= dic.t('Pages.About.text')
    +Footer
