extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation

block meta
  link(rel="stylesheet" href="/pages/About/index.css")

block body
  .About
    +Header(props.header)
    +Navigation(props.navigation)
    h1= title
    +Footer
