(.*/)?app\.yaml
README\..*
.git
.gitignore
.DS_Store
node_modules
src
materials
bin
test
docs
package-lock.json
tsconfig.*
tslint.json
webpack.config.js
.envrc
.hintrc
.nvmrc
.postcssrc.js
.prettierrc
