@import 'vars';

html {
  font-family: 'Helvetica', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  width: 100%;
  color: $color-text;
  text-align: justify;
  font-size: 16px;
  font-weight: $font-regular;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  user-select: none;
}

input,
textarea {
  user-select: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
