$color-white: #fff;

$color-text: rgba(0, 0, 0, 0.87);
$color-text-secondary: rgba(0, 0, 0, 0.6);
$color-text-hint: rgba(0, 0, 0, 0.38);
$color-shadow: rgba(0, 0, 0, 0.12);
$color-active: rgba(0, 0, 0, 0.04);
$color-background: #fafafa;
$color-divider: #e0e0e0;

$color-hot: #ef5350;
$color-iced: #42a5f5;

$radius: 2px;
$shadow: 0 1px 1px 0 $color-shadow;
$shadow-inset: 0 1px 1px 0 $color-shadow inset;
$shadow-inverse: 0 -1px 1px 0 $color-shadow;
$shadow-inverse-inset: 0 -1px 1px 0 $color-shadow inset;
$border: solid 1px $color-divider;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$width-content: 892px;
