extends /layouts/index

block import
  include /components/header
  include /components/footer
  include /components/navigation

block vars
  - const title = dic.t('footer.ABOUT_US');

block meta
  title= title
  link(rel="stylesheet" href="/styles/pages/about-us/index.css")

block body
  .about-us
    +header(lang)
    +navigation(path, dic)
    h1= title
    +footer(lang)
