extends /layouts/index

block import
  include /components/header
  include /components/footer
  include /components/navigation

block vars
  - const title = dic.t('navigation.BEANS');

block meta
  title= title
  link(rel="stylesheet" href="/styles/pages/beans/index.css")

block body
  .beans
    +header(lang)
    +navigation(path, dic)
    h1= title
    +footer(lang)
