extends /layouts/index

block import
  include /components/header
  include /components/navigation

block vars
  - const title = dic.t('nav.GOODS');

block meta
  title= title
  link(rel="stylesheet" href="/styles/pages/goods/index.css")

block body
  .goods
    +header(lang)
    +navigation(path, dic)
    h1= title
