extends /layouts/index

block import
  include /components/header
  include /components/footer
  include /components/navigation

block meta
  link(rel="stylesheet" href="/styles/pages/knowledge/index.css")

block body
  .knowledge
    +header(lang)
    +navigation(path, dic)
    h1= title
    +footer(lang)
