extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/ProductCard

block meta
  link(rel="stylesheet" href="/pages/Products/index.css")

block body
  .Products
    +Header(lang)
    +Navigation(path, dic)
    .Products--Content
      .Products--Content--CategoryTitle
        h2= heading
      .Products--Content--ProductList
        for product in products
          .Products--Content--ProductList--Item
            +ProductCard(product)
    +Footer(dic)
