extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture
  include /components/StoryCard

block meta
  script(src="/pages/Beverages/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Beverages/index.css")

block body
  .Beverages
    +Header(lang)
    +Navigation(path, dic)
    .Beverages--Content
      ul.Beverages--Content--List
        each post in posts
          li.Beverages--Content--List--Item
            .Beverages--Content--List--Item--Picture
              +Picture(post.thumbnailUrl.square, post.title, true)
            .Beverages--Content--List--Item--Info
              h2.Beverages--Content--List--Item--Info--Title= post.title
              .Beverages--Content--List--Item--Info--Description= post.description
    +Footer(lang)
