extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture
  include /components/StoryCard

block meta
  script(src="/pages/Beverages/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Beverages/index.css")

block body
  .Beverages
    +Header(lang)
    +Navigation(path, dic)
    .Beverages--Content
      .Beverages--Content--CategoryTitle
        h2 BEVERAGES
      .Beverages--Content--List
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title COFFEE
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title COLD BREW
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title LATTE
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title AMERICANO
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title CAPPUCCINO
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title MOCHA
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title VANILLA LATTE
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title COCOA
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title ESPRESSO
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              .Beverages--Content--List--Item--RecipeList--Item--Link RECIPE
      .Beverages--Content--CategoryTitle
    +Footer(lang)
