extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/RecipeLink

block meta
  link(rel="stylesheet" href="/pages/Beverages/index.css")

block body
  .Beverages
    +Header(lang)
    +Navigation(path, dic)
    .Beverages--Content
      .Beverages--Content--CategoryTitle
        h2= dic.t('Beverages.BEVERAGES')
      .Beverages--Content--List
        for beverage in beverages
          .Beverages--Content--List--Item
            .Beverages--Content--List--Item--Title= beverage.name
            .Beverages--Content--List--Item--RecipeList
              if beverage.default
                .Beverages--Content--List--Item--RecipeList--Item
                  +RecipeLink(beverage.default.url, dic)
              if beverage.hot
                .Beverages--Content--List--Item--RecipeList--Item
                  .Beverages--Content--List--Item--RecipeList--Item--Hot= dic.t('Recipe.HOT')
                  +RecipeLink(beverage.hot.url, dic)
              if beverage.iced
                .Beverages--Content--List--Item--RecipeList--Item
                  .Beverages--Content--List--Item--RecipeList--Item--Iced= dic.t('Recipe.ICED')
                  +RecipeLink(beverage.iced.url, dic)
      .Beverages--Content--CategoryTitle
    +Footer(lang)
