@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Navigation';
@import 'components/RecipeLink';

.Beverages {
  background-color: $color-background;

  .Beverages--Content {
    max-width: calc($width-content * 3 / 4);
    margin: 0 auto;

    .Beverages--Content--CategoryTitle {
      font-weight: $font-bold;
      text-align: center;
      margin: 36px auto;
      text-align: center;

      h2 {
        position: relative;
        display: inline-block;
        font-size: 1.75rem;

        &:before {
          display: inline-block;
          content: '';
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 88%;
          height: 1px;
          background-color: $color-text;
        }
      }
    }

    .Beverages--Content--List {
      .Beverages--Content--List--Item {
        display: flex;
        padding: 16px 16px 36px;

        .Beverages--Content--List--Item--Title {
          flex: 1;
          font-size: 1.25rem;
          font-weight: $font-bold;
          word-break: break-all;
        }

        .Beverages--Content--List--Item--RecipeList {
          .Beverages--Content--List--Item--RecipeList--Item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & + .Beverages--Content--List--Item--RecipeList--Item {
              margin-top: 12px;
            }

            .Beverages--Content--List--Item--RecipeList--Item--Hot,
            .Beverages--Content--List--Item--RecipeList--Item--Iced {
              position: relative;
              display: inline-block;
              color: $color-text-secondary;
              width: 4rem;
              padding-left: 1rem;

              &:before {
                position: absolute;
                top: 47%;
                left: 0.25rem;
                transform: translateY(-50%);
                content: '';
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
              }
            }

            .Beverages--Content--List--Item--RecipeList--Item--Hot:before {
              background-color: $color-hot;
            }

            .Beverages--Content--List--Item--RecipeList--Item--Iced:before {
              background-color: $color-iced;
            }
          }
        }
      }
    }
  }
}

.Footer {
  box-shadow: $shadow-inverse;
}
