extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation

block meta
  link(rel="stylesheet" href="/templates/Post/index.css")

block body
  .Post
    +Header(props.header)
    +Navigation(props.navigation)
    .Post--Content
      .Post--Content--Title= props.post.title
      .Post--Content--Date= props.post.publishedAt
      .Post--Content--Text!= props.post.content
    +Footer
