extends /application/Layout

block import
  include /components/Header
  include /components/Navigation
  include /components/Footer
  include /components/Map

block meta
  script(src="/pages/Maps/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Maps/index.css")

block body
  .Maps
    .Maps--Content
      +Map
      .Maps--Content--Modal
