extends /application/Layout

block import
  include /components/Map
  include /components/StoreCard

block meta
  script(src="/pages/Maps/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Maps/index.css")

block body
  .Maps
    .Maps--Content
      +Map
      if props.store
        .Modal
          .Modal--CloseButton
            .Icon close
          +StoreCard(props.store, props.currentDay, props.openStatus, props.nextStatusMessage)
      else
        .Modal.Modal__Hidden
          .Modal--CloseButton
            .Icon close
          .StoreCard
