extends /application/Layout

block import
  include /components/Map
  include /components/MapHeader
  include /components/Modal
  include /components/StoreCard

block meta
  script(src="/pages/Maps/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Maps/index.css")

block body
  // TODO: Update title
  .Maps
    +MapHeader(props.mapHeader)
    .Maps--Content
      +Map
      .Maps--Content--CurrentPositionButton
        i.Icon my_location
      if props.store
        +Modal({open: true})
          +StoreCard(props.store, props.currentDay, props.openStatus, props.nextStatusMessage)
      else
        +Modal({open: false})
          .StoreCard
