@import 'pages/Maps/leaflet';

@import 'application/vars';

html,
body {
  height: 100%;
}

.Maps {
  width: 100%;
  height: 100%;

  .Maps--Content {
    position: relative;
    width: 100%;
    height: 100%;

    .Maps--Content--Map {
      width: 100%;
      height: 100%;
    }

    .Maps--Content--Modal {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: $color-white;
      z-index: 4000;
      transform: translateY(0);
      transition: transform 170ms ease-in-out;

      &.Maps--Content--Modal__Open {
        transform: translateY(-100%);
      }
    }
  }

  .icon {
    background: red;
    width: 16px!important;
    height: 16px!important;
    border-radius: 50%;
    opacity: 0.88;
  }
}

.Modal {
  .Modal--Content {
    padding: 16px;

    .Modal--Name {
      font-weight: $font-bold;
    }

    ul {
      display: inline-block;

      li {
        display: inline-block;

        .Modal--Media {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: black;
          color: white;
          text-align: center;
        }
      }
    }
  }
}
