extends /application/Layout

block import
  include /components/Map
  include /components/MapHeader
  include /components/Modal
  include /components/StoreCard

block meta
  script(src="/pages/Maps/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Maps/index.css")

block body
  .Maps
    +MapHeader(props.mapHeader)
    .Maps--Content
      +Map
      if props.store
        +Modal
          +StoreCard(props.store, props.currentDay, props.openStatus, props.nextStatusMessage)
      else
        +Modal
          .StoreCard
