extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/RecipeLink

block meta
  link(rel="stylesheet" href="/templates/Menu/index.css")

block body
  .Menu
    +Header(lang)
    +Navigation(path, dic)
    .Menu--Content
      .Menu--Content--CategoryTitle
        h2= heading
      .Menu--Content--List
        for item in items
          .Menu--Content--List--Item
            .Menu--Content--List--Item--Title= item.name
            .Menu--Content--List--Item--RecipeList
              if item.default
                .Menu--Content--List--Item--RecipeList--Item
                  +RecipeLink(item.default.url, dic)
              if item.hot
                .Menu--Content--List--Item--RecipeList--Item
                  .Menu--Content--List--Item--RecipeList--Item--Hot= dic.t('Recipe.HOT')
                  +RecipeLink(item.hot.url, dic)
              if item.iced
                .Menu--Content--List--Item--RecipeList--Item
                  .Menu--Content--List--Item--RecipeList--Item--Iced= dic.t('Recipe.ICED')
                  +RecipeLink(item.iced.url, dic)
    +Footer(dic)
