extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/RecipeLink

block meta
  link(rel="stylesheet" href="/templates/Menu/index.css")

block body
  .Menu
    +Header(props.header)
    +Navigation(props.navigation)
    .Menu--Content
      .Menu--Content--CategoryTitle
        h2= props.categoryTitle.heading
      .Menu--Content--List
        for item in props.items
          .Menu--Content--List--Item
            .Menu--Content--List--Item--Title= item.name
            .Menu--Content--List--Item--RecipeList
              if item.defaults
                .Menu--Content--List--Item--RecipeList--Item
                  +RecipeLink(item.defaults)
              if item.hot
                .Menu--Content--List--Item--RecipeList--Item
                  .Menu--Content--List--Item--RecipeList--Item--Hot= dic.t('meta.recipe.recipeType.HOT')
                  +RecipeLink(item.hot)
              if item.iced
                .Menu--Content--List--Item--RecipeList--Item
                  .Menu--Content--List--Item--RecipeList--Item--Iced= dic.t('meta.recipe.recipeType.ICED')
                  +RecipeLink(item.iced)
    +Footer
