extends /layouts/index

block import
  include /components/header
  include /components/footer
  include /components/navigation

block meta
  link(rel="stylesheet" href="/styles/pages/goods/index.css")

block body
  .goods
    +header(lang)
    +navigation(path, dic)
    h1= title
    +footer(lang)
