extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/GoodCard

block meta
  link(rel="stylesheet" href="/pages/Goods/index.css")

block body
  .Goods
    +Header(props.header)
    +Navigation(props.navigation)
    .Goods--Content
      .Goods--Content--CategoryTitle
        h2= props.categoryTitle.heading
      .Goods--Content--GoodList
        for goodListItem in props.goodList
          .Goods--Content--GoodList--Item
            +GoodCard(goodListItem)
    +Footer
