@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Navigation';
@import 'components/GoodCard';

.Goods {
  background-color: $color-background;

  .Goods--Content {
    max-width: calc($width-content * 3 / 4);
    margin: 0 auto;

    .Goods--Content--CategoryTitle {
      font-weight: $font-bold;
      margin: 36px auto;
      text-align: center;

      h2 {
        position: relative;
        display: inline-block;
        font-size: 1.75rem;

        &:before {
          display: inline-block;
          content: '';
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 88%;
          height: 1px;
          background-color: $color-text;
        }
      }
    }
  }

  .Goods--Content--GoodList {
    padding: 0 0 24px;

    .Goods--Content--GoodList--Item {
      display: inline-block;
      width: calc(100% / 2);
      padding: 12px 12px;
    }

    @media screen and (min-width: calc($width-content / 2)) {
      .Goods--Content--GoodList--Item {
        width: calc(100% / 3);
      }
    }
  }
}

.Footer {
  box-shadow: $shadow-inverse;
}
