.CandidateListItem {
  padding: 12px 0;

  .CandidateListItem--Name {
    font-weight: $font-bold;
  }

  .CandidateListItem--Address {
    color: $color-text-secondary;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & + .CandidateListItem {
    border-top: $border;
  }
}
