mixin Footer(dic)
  footer.Footer
    ul.Footer--List
      li.Footer--List--Item
        a(href="/about-us")= dic.t('Footer.ABOUT_US')
      li.Footer--List--Item
        a(href="/")= dic.t('Footer.SITEMAP')
    p.Footer--Copyright!= '&copy; ' + dic.t('Footer.copyright')
