mixin Footer
  footer.Footer
    ul.Footer--List
      li.Footer--List--Item
        a(href="/about-us")= dic.t('Components.Footer.ABOUT_US')
      li.Footer--List--Item
        a(href="/sitemap")= dic.t('Components.Footer.SITEMAP')
      li.Footer--List--Item
        a(href="/privacy")= dic.t('Components.Footer.PRIVACY')
    p.Footer--Copyright!= '&copy; ' + dic.t('name') + dic.t('Components.Footer.copyright')
