mixin Footer
  footer.Footer
    ul.Footer--List
      li.Footer--List--Item
        a(href="/about")= dic.t('Components.Footer.ABOUT')
      li.Footer--List--Item
        a(href="/sitemap")= dic.t('Components.Footer.SITEMAP')
      li.Footer--List--Item
        a(href="/privacy")= dic.t('Components.Footer.PRIVACY')
    p.Footer--Copyright!= '&copy; ' + dic.t('name', props.lang) + dic.t('Components.Footer.copyright', props.lang)
