mixin Footer(lang)
  footer.Footer
    ul.Footer--List
      li.Footer--List--Item
        a(href="/about-us")= dic.t('footer.ABOUT_US')
      li.Footer--List--Item
        a(href="/")= dic.t('footer.SITEMAP')
    p.Footer--Copyright &copy; ABOUT OUR COFFEE, All rights reserved.
