mixin Header(props)
  header.Header
    ul.Header--LangList
      li.Header--LangList--Item(class= props.lang === 'en' ? 'Header--LangList--Item__Active' : '')
        a(href="?lang=en") ENGLISH
      li.Header--LangList--Item(class= props.lang === 'ja' ? 'Header--LangList--Item__Active' : '')
        a(href="?lang=ja") 日本語
    a.Header--Link(href="/")
      if props.lang === 'en'
        h1.Header--Link--Logo.Header--Link--Logo__EN
          .Header--Link--Logo--Text
            |COFFEE
            br
            |HAND
            br
            |BOOK
      if props.lang === 'ja'
        h1.Header--Link--Logo.Header--Link--Logo__JA
          .Header--Link--Logo--Text
            |珈琲
            br
            |手帖
