mixin MapHeader(props)
  .MapHeader
    a.MapHeader--Link(href="/")
      if props.lang === 'en'
        img.MapHeader--Link--Image(srcset="/images/icon_en_square.png 1x, /images/icon_en_square@2x.png 2x, /images/icon_en_square@3x.png 3x")
      if props.lang === 'ja'
        img.MapHeader--Link--Image(srcset="/images/icon_ja_square.png 1x, /images/icon_ja_square@2x.png 2x, /images/icon_ja_square@3x.png 3x")
    ul.MapHeader--LangList
      li.MapHeader--LangList--Item(class= props.lang === 'en' ? 'MapHeader--LangList--Item__Active' : '')
        a(href="?lang=en") ENGLISH
      li.MapHeader--LangList--Item(class= props.lang === 'ja' ? 'MapHeader--LangList--Item__Active' : '')
        a(href="?lang=ja") 日本語
