mixin Navigation(path, dic)
  nav.Navigation
    ul.Navigation--List
      li.Navigation--List--Item(class= path.indexOf('/beverages') === 0 ? 'Navigation--List--Item__Active' : '')
        a.Navigation--List--Item--Link(href="/beverages")= dic.t('Navigation.BEVERAGES')
      li.Navigation--List--Item(class= path.indexOf('/foods') === 0 ? 'Navigation--List--Item__Active' : '')
        a.Navigation--List--Item--Link(href="/foods")= dic.t('Navigation.FOODS')
      li.Navigation--List--Item(class= path.indexOf('/products') === 0 ? 'Navigation--List--Item__Active' : '')
        a.Navigation--List--Item--Link(href="/products")= dic.t('Navigation.PRODUCTS')
