.ShopMapView {
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-shadow;

  .ShopMapView--Map {
    width: 100%;
    height: 100%;
  }
}

.CurrentPostionMarker {
  position: relative;

  .CurrentPostionMarker--Icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: #2196f3;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px $color-shadow;
  }
}
