.StoreCard {
  position: relative;
  width: 100%;
  height: 100%;

  .StoreCard--Content {
    height: 100%;
    padding: 16px;
    background: $color-white;

    .StoreCard--Content--Name {
      font-weight: $font-bold;
      font-size: 1.5rem;
      padding-bottom: 8px;
      text-align: left;
    }

    .StoreCard--Content--Address {
      font-size: 0.875rem;
      padding-bottom: 24px;
    }

    .StoreCard--Content--OpenStatus {
      cursor: pointer;
      padding-bottom: 24px;

      .StoreCard--Content--OpenStatus--Status {
        display: inline-block;
        font-weight: $font-bold;
      }

      .StoreCard--Content--OpenStatus--NextStatus {
        display: inline-block;
        padding-left: 16px;
        padding-right: 8px;
      }

      .StoreCard--Content--OpenStatus--Description {
        font-size: 0.5rem;
        color: $color-text-attention;
      }
    }

    .StoreCard--Content--Hours {
      width: 100%;
      border-bottom: 0;
      padding: 0;
      transform: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 170ms ease-in-out;

      &.StoreCard--Content--Hours__Show {
        display: inline-block;
        max-height: 270px;
        padding-bottom: 28px;
      }

      .StoreCard--Content--Hours--List {
        .StoreCard--Content--Hours--List--Item {
          display: flex;
          width: 100%;

          &.StoreCard--Content--Hours--List--Item__Active {
            font-weight: $font-bold;
          }

          .StoreCard--Content--Hours--List--Item--Day {
            flex: 1;
          }

          .StoreCard--Content--Hours--List--Item--Time {
            flex: 1;
            text-align: right;
          }
        }
      }
    }

    .StoreCard--Content--Tel {
      display: inline-block;
      width: 100%;
      padding: 12px 0;

      .Icon {
        margin-right: 4px;
      }
    }

    .StoreCard--Content--Email {
      display: inline-block;
      width: 100%;
      padding: 12px 0;

      .Icon {
        margin-right: 4px;
      }
    }

    .StoreCard--Content--Media {
      display: flex;
      max-width: 324px;
      justify-content: space-between;
      margin-bottom: 16px;

      .StoreCard--Content--Media--Item {
        $size: 32px;
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        background: $color-shadow;
        color: white;
        text-align: center;
        margin: 0;
        border-radius: $radius;

        img {
          width: 100%;
        }

        &.StoreCard--Content--Media--Item__Active {
          background: $color-text;
        }
      }
    }

    .StoreCard--Content--Services {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .StoreCard--Content--Services--Item {
        display: inline-block;
        min-width: 24%;
        max-width: 24%;

        .StoreCard--Content--Services--Item--Content {
          $height: 28px;
          position: relative;
          display: inline-block;
          width: 100%;
          height: $height;
          color: $color-text-hint;
          border: $border;
          border-width: 2px;
          border-radius: calc($height / 2 + 2px);
          font-weight: $font-bold;

          .StoreCard--Content--Services--Item--Content--Text {
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            font-size: 0.5rem;
            text-align: center;
            line-height: 1.1em;
          }
        }

        &.StoreCard--Content--Services--Item__PartialSupport .StoreCard--Content--Services--Item--Content {
          $color: #fb8c00;
          border-color: $color;
          color: $color;
        }

        &.StoreCard--Content--Services--Item__Support .StoreCard--Content--Services--Item--Content {
          $color: #e53935;
          border-color: $color;
          color: $color;
        }
      }
    }

    .StoreCard--Content--ServicesDescription {
      .StoreCard--Content--ServicesDescription--Label {
        font-size: 0.5rem;
        margin-right: 8px;
      }

      .StoreCard--Content--ServicesDescription--Text {
        display: inline-block;
        color: $color-text-hint;
        border: $border;
        border-width: 2px;
        border-radius: 1rem;
        font-weight: $font-bold;
        font-size: 0.5rem;
        padding: 0 8px;

        & + .StoreCard--Content--ServicesDescription--Text {
          margin-left: 8px;
        }

        &.StoreCard--Content--ServicesDescription--Text.StoreCard--Content--ServicesDescription--Text__PartialSupport {
          $color: #fb8c00;
          border-color: $color;
          color: $color;
        }

        &.StoreCard--Content--ServicesDescription--Text.StoreCard--Content--ServicesDescription--Text__Support {
          $color: #e53935;
          border-color: $color;
          color: $color;
        }
      }
    }
  }
}

@media screen and (min-width: calc($width-map-modal * 2)) {
  .StoreCard {
    width: $width-map-modal;
  }
}
