.StoreMarker {
  position: relative;

  .StoreMarker--Icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: $color-text-attention;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    opacity: 0.88;
  }

  .StoreMarker--Name {
    position: absolute;
    left: 20px;
    display: inline-block;
    font-weight: $font-bold;
    white-space: nowrap;
  }
}
