.StoreMarker {
  position: relative;
  cursor: pointer;

  &.StoreMarker__Mark {
    .StoreMarker--Icon {
      width: 8px !important;
      height: 8px !important;
    }
    .StoreMarker--Name {
      display: none;
    }

    &.StoreMarker__Active {
      .StoreMarker--Icon:after {
        top: -1px;
        left: -1px;
        width: 10px !important;
        height: 10px !important;
      }
    }
  }

  .StoreMarker--Icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: $color-text-attention;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px $color-shadow;

    &:after {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: -1;
      content: '';
      display: inline-block;
      width: 0px;
      height: 0px;
      background: $color-white;
      border-radius: 50%;
      box-shadow: 0 0 2px 2px $color-shadow;
      transition: width $short ease-in-out, height $short ease-in-out, top $short ease-in-out, left $short ease-in-out;
    }
  }

  .StoreMarker--Name {
    position: absolute;
    left: 20px;
    display: inline-block;
    font-weight: $font-bold;
    white-space: nowrap;
  }

  &.StoreMarker__Active {
    .StoreMarker--Icon {
      box-shadow: none;

      &:after {
        top: -2px;
        left: -2px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
