.StoreMarker {
  position: relative;
  cursor: pointer;

  &.StoreMarker__Mark {
    .StoreMarker--Icon {
      width: 8px !important;
      height: 8px !important;
    }
    .StoreMarker--Name {
      display: none;
    }
  }

  .StoreMarker--Icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: $color-text-attention;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px $color-shadow;
    transition: width 200ms ease-in, height 200ms ease-in;
  }

  .StoreMarker--Name {
    position: absolute;
    left: 20px;
    display: inline-block;
    font-weight: $font-bold;
    white-space: nowrap;
  }
}
