mixin footer(lang)
  footer.footer
    ul.footer--list
      li.footer--list--item
        a(href="/")= dic.t('footer.ABOUT_US')
      li.footer--list--item
        a(href="/")= dic.t('footer.SITEMAP')
    p.footer--copyright &copy; ABOUT OUR COFFEE, All rights reserved.
