mixin header(lang)
  header.header
    ul.header--lang-list
      li.header--lang-list--item(class= lang === 'ja' ? 'header--lang-list--item__active' : '')
        a(href="?lang=ja") JA
      li.header--lang-list--item(class= lang === 'en' ? 'header--lang-list--item__active' : '')
        a(href="?lang=en") EN
    a.header--link(href="/")
      h1.header--logo
        .header--logo--text
          |ABOUT
          br
          |OUR
          br
          |COFFEE
