@import 'vars';
@import 'components/header';
@import 'components/footer';
@import 'components/navigation';
@import 'components/img';
@import 'components/story-card';

.home {
  .home--heading {
    font-weight: $font-bold;
    padding: 48px 8px 12px;
    margin: 0 auto;
    max-width: $width-content;
  }

  .home--cover-story {
    display: inline-block;
    width: 100%;
    background-color: $color-background;
    box-shadow: $shadow-inset, $shadow-inverse-inset;
    vertical-align: top;

    .home--cover-story--content {
      position: relative;
      margin: 0 auto;
      max-width: $width-content;
      max-height: calc($width-content / 2);
      overflow: hidden;
      opacity: 1;
      transition: opacity 200ms ease-out;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        background-color: $color-active;
      }

      .home--cover-story--content--image {
        position: relative;

        .home--cover-story--content--image--cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.24);
        }

        .img {
          width: 100%;
          padding-top: 100%;
        }
      }

      .home--cover-story--content--title {
        position: absolute;
        color: $color-white;
        top: 48%;
        left: 50%;
        width: 72%;
        max-width: 512px;
        padding: 8px 12px;
        transform: translate(-50%, -50%);
        font-weight: $font-bold;
        border: solid 4px $color-white;
        font-size: 1.4rem;
        line-height: 1.4;
        background: rgba(0, 0, 0, 0.36);

        .home--cover-story--content--title--date {
          text-align: right;
          padding: 16px 0 0;
          font-size: 1rem;
        }
      }
    }
  }

  .home--story-list {
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;

    .home--story-list--item {
      display: inline-block;
      width: calc(100% / 1);
      vertical-align: top;
      padding: 0 8px;

      .home--story-list--item--link {
        &:hover {
          opacity: 0.8;
        }

        &:active {
          background-color: $color-active;
        }
      }
    }

    @media screen and (min-width: calc($width-content / 2)) {
      .home--story-list--item {
        width: calc(100% / 2);
      }
    }

    @media screen and (min-width: calc($width-content / 4 * 3)) {
      .home--story-list--item {
        width: calc(100% / 3);
      }
    }
  }
}
