@import 'vars';
@import 'components/img';
@import 'components/header';
@import 'components/navigation';

.home {
  .home--cover-story {
    display: inline-block;
    width: 100%;
    background-color: $color-background;

    .home--cover-story--content {
      position: relative;
      margin: 0 auto;
      max-width: $width-content;
      overflow: hidden;
      opacity: 1;
      transition: opacity 200ms ease-out;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        background-color: $color-active;
      }

      .home--cover-story--content--image {
        position: relative;

        .home--cover-story--content--image--cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.24);
        }

        .img {
          width: 100%;
          padding-top: 56.25%;
        }
      }

      .home--cover-story--content--title {
        position: absolute;
        color: $color-white;
        top: 50%;
        left: 50%;
        width: 72%;
        max-width: 512px;
        padding: 8px 12px;
        transform: translate(-50%, -50%);
        font-weight: $font-bold;
        border: solid 4px $color-white;
        font-size: 1.4rem;
        line-height: 1.4;
        background: rgba(0, 0, 0, 0.36);
      }
    }
  }
}
