@import 'vars';

html {
  font-family: 'Helvetica', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  width: 100%;
  color: $color-text;
  text-align: justify;
  font-size: 16px;
  font-weight: $font-regular;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  user-select: none;
}

input,
textarea {
  user-select: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.application {
  height: 100%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.Icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
