extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation

block meta
  link(rel="stylesheet" href="/pages/Privacy/index.css")

block body
  .Privacy
    +Header(props.header)
    +Navigation(props.navigation)
    .Privacy--Content
      .Privacy--Content--Title 利用規約・プライバシーポリシー

      .Privacy--Content--Description
        |このページは、珈琲手帖・COFFEE HANDBOOK（https://coffee-handbook.com、以下「当サイト」とします）の利用者（以下「ユーザ」とします）の個人情報取り扱い、その他当サイトの運営に関する指針を示すものです。

      .Privacy--Content--List
        .Privacy--Content--List--Heading お問い合わせ先
        .Privacy--Content--List--Content
          |当サイト公式Twitterの
          a(href=props.twitterLink) ダイレクトメール
          |より承ります。

      .Privacy--Content--List
        .Privacy--Content--List--Heading 個人情報の取得
        .Privacy--Content--List--Content
          |当サイトでは、お問い合わせや当サイトへのご意見をいただく際に、必要と考えられる最小限の個人情報の開示をお願いする場合がございます。

      .Privacy--Content--List
        .Privacy--Content--List--Heading 個人情報の利用目的
        .Privacy--Content--List--Content
          |開示いただいた個人情報は、問い合わせに対する回答および必要な情報を連絡する場合に利用するものであり、これ以外の目的では利用いたしません。

      .Privacy--Content--List
        .Privacy--Content--List--Heading 個人情報の管理
        .Privacy--Content--List--Content
          |ユーザの個人情報に対する管理責任者を置き、外部からの不正なアクセス、紛失、破壊、改竄などの危険に対して、適切なレベルの安全対策を実施します。
          br
          |また、業務委託契約を締結する際には、業務委託の相手としての適格性を十分審査し、個人情報の保護に配慮した契約書の内容に基づく業務委託契約を締結いたします。

      .Privacy--Content--List
        .Privacy--Content--List--Heading 個人情報の照会
        .Privacy--Content--List--Content
          |お預かりした個人情報の開示、訂正、削除をご希望の場合には、ご本人であることを確認のうえ、速やかに対応いたします。

      .Privacy--Content--List
        .Privacy--Content--List--Heading 個人情報の第三者への開示
        .Privacy--Content--List--Content
          |当サイトでは、次のいずれかに該当する場合を除き、個人情報を第三者に開示することはありません。
          ul
            li ・ユーザ本人からの了承がある場合
            li ・法令等への協力のため、開示が必要となる場合

      .Privacy--Content--List
        .Privacy--Content--List--Heading アクセス解析ツールの使用について
        .Privacy--Content--List--Content
          |当サイトでは、コンテンツの拡充や改善を目的とし、Googleアナリティクスを使用しています。
          |このアクセス解析ツールでは、Cookie（氏名、住所、メール アドレス、電話番号は含まれません）を使用してユーザのトラフィックデータを収集します。
          |お使いのブラウザでアナリティクスが使用されないようにしたい場合は、
          a(href="https://tools.google.com/dlpage/gaoptout?hl=ja") Googleアナリティクスブラウザアドオン
          |をインストールしてください。<br>
          br
          |詳しくは、下記リンク先の説明をご確認ください。
          ul
            li: a(href="https://support.google.com/analytics/answer/6004245?hl=ja") Google アナリティクスとプライバシーについて
            li: a(href="https://www.google.com/intl/ja/policies/privacy/partners/") ユーザーがGoogleパートナーのサイトやアプリを使用する際のGoogleによるデータ使用

      .Privacy--Content--List
        .Privacy--Content--List--Heading 利用規約・プライバシーポリシーの改訂について
        .Privacy--Content--List--Content
          |当サイトの提供するコンテンツの変更、法令その他の規範の変更に伴い、利用規約・プライバシーポリシーを予告なく改訂する場合がございます。予めご了承ください。

      .Privacy--Content--Date
        .Privacy--Content--Date--Text 制定日：2018年08月22日
        .Privacy--Content--Date--Text 最終改訂日：2018年10月14日
    +Footer
