@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';

.Privacy {
  background-color: $color-background;

  .Privacy--Content {
    max-width: calc($width-content * 3 / 4);
    margin: 0 auto;
    padding: 48px 16px;

    .Privacy--Content--Title {
      font-weight: $font-bold;
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 44px;
    }

    .Privacy--Content--Date {
      text-align: right;
      padding-bottom: 24px;

      .Privacy--Content--Date--Text {
        font-size: 0.875rem;
      }
    }

    .Privacy--Content--Description {
      padding-bottom: 24px;
    }

    .Privacy--Content--List {
      padding-bottom: 24px;

      .Privacy--Content--List--Heading {
        font-weight: $font-bold;
        padding-bottom: 8px;
      }

      .Privacy--Content--List--Content {
        a {
          color: $color-text-secondary;
          text-decoration: underline;
          padding: 0 4px;
        }
      }
    }
  }
}

.Footer {
  box-shadow: $shadow-inverse;
}
