extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture

block meta
  link(rel="stylesheet" href="/templates/Product/index.css")

block body
  .Product
    +Header(lang)
    +Navigation(path, dic)
    .Product--Content
      .Product--Content--Cover
        .Product--Content--Cover--Pictures
          .Product--Content--Cover--Pictures--Cover
            +Picture(product.pictures[0].url, product.pictures[0].caption)
          .Product--Content--Cover--Pictures--List
            for picture in product.pictures
              .Product--Content--Cover--Pictures--List--Picture
                +Picture(picture.url, picture.caption)
        .Product--Content--Cover--Information
          p= product.name
      .Product--Content--Content
        .Product--Content--Content--Content
          p!= product.content
    +Footer(lang)
