@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Navigation';
@import 'components/Picture';
@import 'components/GoodCard';

.Good {
  .Good--Content {
    .Good--Content--Cover {
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      .Good--Content--Cover--Pictures {
        .Good--Content--Cover--Pictures--Cover {
          padding: 12px;

          .Picture {
            padding-top: 100%;
          }
        }

        .Good--Content--Cover--Pictures--List {
          padding: 0 6px;

          .Good--Content--Cover--Pictures--List--Picture {
            display: inline-block;
            width: 20%;
            padding: 0 6px;

            .Picture {
              padding-top: 100%;
            }
          }
        }
      }

      .Good--Content--Cover--Information {
        vertical-align: top;
        display: inline-block;
        padding: 24px 12px;
        width: 100%;

        .Good--Content--Cover--Information--Name {
          font-size: 1.25rem;
          font-weight: $font-bold;
        }

        .Good--Content--Cover--Information--Category {
          font-size: 0.75rem;
          color: $color-text-secondary;
        }

        .Good--Content--Cover--Information--Summary {
          margin: 24px 0;
        }

        .Good--Content--Cover--Information--Spec {
          width: 100%;
          border: $border;
          font-size: 0.75rem;

          th {
            padding: 4px 8px;
            background-color: $color-background;

            & + td {
              border-left: $border;
            }
          }

          td {
            padding: 4px 12px;
          }
        }

        .Good--Content--Cover--Information--Button {
          display: inline-block;
          color: $color-white;
          background-color: #f90;
          width: 100%;
          padding: 12px;
          text-align: center;
          border-radius: $radius;
          margin: 20px 0;
        }
      }

      @media screen and (min-width: calc($width-content / 2)) {
        .Good--Content--Cover--Pictures {
          display: inline-block;
          width: 45%;
        }

        .Good--Content--Cover--Information {
          width: 55%;
        }
      }
    }

    .Good--Content--Content {
      width: 100%;
      background-color: $color-white;

      .Good--Content--Content--Content {
        width: 100%;
        max-width: $width-content;
        margin: 0 auto;
        padding: 32px 12px;
      }
    }
  }

  .Good--Content--RelatedList {
    width: 100%;
    max-width: $width-content;
    margin: 0 auto;

    .Good--Content--RelatedList--Title {
      font-weight: $font-bold;
      padding: 4px 12px;
    }

    .Good--Content--RelatedList--Item {
      display: inline-block;
      width: calc(100% / 3);
      padding: 12px 12px;
    }

    @media screen and (min-width: calc($width-content / 2)) {
      .Good--Content--RelatedList--Item {
        width: calc(100% / 4);
      }
    }
  }
}
