@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Navigation';
@import 'components/Picture';
@import 'components/StoryCard';

.Home {
  background-color: $color-background;

  .Home--CoverStory {
    display: inline-block;
    width: 100%;
    background-color: $color-background;
    box-shadow: $shadow-inset, $shadow-inverse-inset;
    vertical-align: top;

    .Home--CoverStory--Content {
      position: relative;
      margin: 0 auto;
      max-width: $width-content;
      max-height: calc($width-content / 2);
      overflow: hidden;
      opacity: 1;
      transition: opacity 200ms ease-out;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        background-color: $color-active;
      }

      .Home--CoverStory--Content--Image {
        position: relative;

        .Home--CoverStory--Content--Image--Cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.12);
        }

        .Picture {
          width: 100%;
          padding-top: calc(63 / 120 * 100%);
        }

        @media screen and (max-width: calc($width-content / 2)) {
          .Picture {
            padding-top: 100%;
          }
        }
      }

      .Home--CoverStory--Content--Title {
        position: absolute;
        color: $color-white;
        top: 48%;
        left: 50%;
        width: 72%;
        max-width: 512px;
        padding: 8px 12px;
        transform: translate(-50%, -50%);
        font-weight: $font-bold;
        border: solid 4px $color-white;
        font-size: 1.4rem;
        line-height: 1.4;
        background: rgba(0, 0, 0, 0.36);
      }
    }
  }

  .Home--Content {
    background-color: $color-white;

    .Home--Content--Heading {
      font-weight: $font-bold;
      padding: 48px 8px 12px;
      margin: 0 auto;
      max-width: $width-content;
    }

    .Home--Content--StoryList {
      width: 100%;
      max-width: $width-content;
      margin: 0 auto;

      .Home--Content--StoryList--Item {
        display: inline-block;
        width: calc(100% / 1);
        vertical-align: top;
        padding: 0 8px;

        .Home--Content--StoryList--Item--Link {
          display: inline-block;
          width: 100%;
          height: 100%;
          opacity: 1;
          transition: opacity 200ms ease-out;

          &:hover {
            opacity: 0.8;
          }

          &:active {
            background-color: $color-active;
          }
        }
      }

      @media screen and (min-width: calc($width-content / 2)) {
        .Home--Content--StoryList--Item {
          width: calc(100% / 2);
        }
      }

      @media screen and (min-width: calc($width-content / 4 * 3)) {
        .Home--Content--StoryList--Item {
          width: calc(100% / 3);
        }
      }
    }
  }
}
