@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Navigation';
@import 'components/Picture';

.Recipe {
  background-color: $color-background;

  .Recipe--CoverPicture {
    display: inline-block;
    width: 100%;
    background-color: $color-background;
    box-shadow: $shadow-inset, $shadow-inverse-inset;
    vertical-align: top;

    .Recipe--CoverPicture--Content {
      position: relative;
      margin: 0 auto;
      max-width: $width-content;
      max-height: calc($width-content / 2);
      overflow: hidden;
      opacity: 1;
      transition: opacity 200ms ease-out;

      .Recipe--CoverPicture--Content--Image {
        position: relative;

        .Picture {
          width: 100%;
          padding-top: calc(63 / 120 * 100%);
        }

        @media screen and (max-width: calc($width-content / 2)) {
          .Picture {
            padding-top: 100%;
          }
        }
      }
    }
  }

  .Recipe--Content {
    max-width: calc($width-content * 3 / 4);
    margin: 0 auto;

    .Picture {
      padding-top: 100%;
    }

    .Recipe--Content--CategoryTitle {
      font-weight: $font-bold;
      text-align: center;
      margin: 36px auto;
      text-align: center;

      h2 {
        position: relative;
        display: inline-block;
        font-size: 1.75rem;

        &:before {
          display: inline-block;
          content: '';
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 88%;
          height: 1px;
          background-color: $color-text;
        }
      }
    }
  }
}

.Footer {
  box-shadow: $shadow-inverse;
}
