@import 'application/vars';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Navigation';
@import 'components/Picture';

.Recipe {
  background-color: $color-background;

  .Recipe--CoverPicture {
    display: inline-block;
    width: 100%;
    background-color: $color-background;
    box-shadow: $shadow-inset, $shadow-inverse-inset;
    vertical-align: top;

    .Recipe--CoverPicture--Content {
      position: relative;
      margin: 0 auto;
      max-width: $width-content;
      max-height: calc($width-content / 2);
      overflow: hidden;
      opacity: 1;
      transition: opacity 200ms ease-out;

      .Recipe--CoverPicture--Content--Image {
        position: relative;

        .Picture {
          width: 100%;
          padding-top: calc(63 / 120 * 100%);
        }

        @media screen and (max-width: calc($width-content / 2)) {
          .Picture {
            padding-top: 100%;
          }
        }
      }
    }
  }

  .Recipe--Content {
    box-shadow: $shadow-inverse;
    background-color: $color-white;

    .Recipe--Content--Title {
      font-weight: $font-bold;
      text-align: center;
      padding: 36px 0 48px;

      h2 {
        position: relative;
        display: inline-block;
        font-size: 1.75rem;

        &:before {
          display: inline-block;
          content: '';
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 88%;
          height: 1px;
          background-color: $color-text;
        }
      }

      .Recipe--Content--Title--Type {
        display: inline-block;
        position: relative;
        padding: 12px 1rem;

        &:before {
          position: absolute;
          top: 47%;
          left: 0.25rem;
          transform: translateY(-50%);
          content: '';
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
        }

        &.Recipe--Content--Title--Type__Hot:before {
          background-color: $color-hot;
        }

        &.Recipe--Content--Title--Type__Iced:before {
          background-color: $color-iced;
        }
      }
    }

    .Recipe--Content--Ingredient {
      width: 100%;
      max-width: calc($width-content * 3 / 4);
      margin: 0 auto;
      padding: 0 28px 48px;

      .Recipe--Content--Ingredient--Title {
        font-weight: $font-bold;
        margin-bottom: 16px;
      }

      .Recipe--Content--Ingredient--Table {
        width: 100%;
        border-bottom: $border;

        .Recipe--Content--Ingredient--Table--Row {
          border-top: $border;

          .Recipe--Content--Ingredient--Table--Row--NameCell {
            padding: 8px 0;
          }
          .Recipe--Content--Ingredient--Table--Row--NoteCell {
            color: $color-text-secondary;
            padding: 8px 0;
          }
          .Recipe--Content--Ingredient--Table--Row--QuantityCell {
            text-align: right;
            padding: 8px 0;
          }
        }
      }
    }

    .Recipe--Content--StepList {
      max-width: calc($width-content * 3 / 4);
      margin: 0 auto;
      padding: 0 16px 0 28px;

      .Recipe--Content--StepList--Item {
        position: relative;
        width: 100%;
        padding: 24px 0 44px 28px;

        $size: 24px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          background-color: $color-divider;
        }

        &:before {
          top: 0;
          left: 0;
          width: calc($size / 8);
          height: 100%;
        }

        &:after {
          top: calc(-1 * $size / 2);
          left: calc(-1 * $size / 2 + $size / 16);
          width: $size;
          height: $size;
          border-radius: 50%;
        }

        &.Recipe--Content--StepList--Item__Hot {
          &:before,
          &:after {
            background-color: $color-hot;
          }
        }

        &.Recipe--Content--StepList--Item__Iced {
          &:before,
          &:after {
            background-color: $color-iced;
          }
        }

        .Recipe--Content--StepList--Item--Summary {
          font-weight: $font-bold;
          font-size: 1.25rem;
          margin-bottom: 12px;
        }

        .Recipe--Content--StepList--Item--Description {
          color: $color-text-secondary;
          margin-bottom: 12px;
        }

        .Recipe--Content--StepList--Item--Note {
          color: $color-text-secondary;
          background-color: $color-note;
          padding: 16px;
          border-radius: $radius;
        }
      }
    }
  }
}
