.CurrentPositionButton {
  position: absolute;
  right: 16px;
  bottom: 32px;
  padding: 10px;
  z-index: 4000;
  background: $color-white;
  box-shadow: 0 0 2px 1px $color-shadow;
  cursor: pointer;
  overscroll-behavior-y: contain;

  &.CurrentPositionButton__Hidden {
    display: none;
  }
}
