.SearchForm {
  position: absolute;
  z-index: 13000;
  width: 100%;
  padding: 24px 12px 12px;

  .SearchForm--Input {
    width: 100%;
    border: $border;
    border-radius: 12px;
    padding: 12px;
    box-shadow: $shadow;
  }
}
