.SearchForm {
  position: absolute;
  z-index: 13000;
  width: 100%;
  padding: 24px 12px 12px;

  .SearchForm--Input {
    width: 100%;
    border: $border;
    border-radius: 12px;
    padding: 12px;
    box-shadow: $shadow;
  }

  .SearchForm--CandidateList {
    .SearchForm--CandidateList--Item {
      padding: 12px 0;

      .SearchForm--CandidateList--Item--Name {
        font-weight: $font-bold;
      }

      .SearchForm--CandidateList--Item--Address {
        color: $color-text-secondary;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & + .SearchForm--CandidateList--Item {
        border-top: $border;
      }
    }
  }
}
