extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation

block meta
  link(rel="stylesheet" href="/pages/Foods/index.css")

block body
  .Foods
    +Header(lang)
    +Navigation(path, dic)
    .Foods--Content
      .Foods--Content--CategoryTitle
        h2 FOODS
      .Foods--Content--List
        .Foods--Content--List--Item
          .Foods--Content--List--Item--Title MADELEINE
          .Foods--Content--List--Item--RecipeList
            .Foods--Content--List--Item--RecipeList--Item
              .Foods--Content--List--Item--RecipeList--Item--Link RECIPE
      .Foods--Content--CategoryTitle
    +Footer(lang)
