extends /application/Layout

block import
  include /components/Header
  include /components/Footer

block meta
  link(rel="stylesheet" href="/pages/Sitemap/index.css")

block body
  .Sitemap
    +Header(props.header)
    .Sitemap--Content
      !=props.content
    +Footer
