.FreeSpace {
  .FreeSpace--Ad {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: calc(100% / 320 * 100);

    .FreeSpace--Ad--Content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $color-white;
      background: $color-divider;
    }
  }
}
