@import 'application/vars';

.Header {
  position: relative;
  text-align: center;
  padding: 36px 0;
  background-color: $color-white;
  box-shadow: $shadow;

  .Header--LangList {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    height: 13px;
    line-height: 13px;
    vertical-align: top;
    color: $color-text-secondary;

    .Header--LangList--Item {
      display: inline-block;
      font-size: 0.75rem;
      line-height: 13px;
      vertical-align: top;

      & + .Header--LangList--Item {
        &::before {
          font-weight: $font-regular;
          display: inline-block;
          content: '/';
          padding: 0 2px;
          color: $color-text-secondary;
        }
      }

      &.Header--LangList--Item__Active {
        font-weight: $font-bold;
        color: $color-text;
      }
    }
  }

  .Header--Link {
    $size: 60px;
    display: inline-block;
    width: $size;
    height: $size;
    opacity: 1;
    transition: opacity 200ms ease-out;

    .Header--Link--Image {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      background-color: $color-active;
    }
  }
}
