.ShopCard {
  position: relative;
  width: 100%;
  height: 100%;

  .ShopCard--Content {
    height: 100%;
    padding: 12px 12px 8px;
    background: $color-white;
    font-size: 0.875rem;
    text-align: left;

    .ShopCard--Content--Name {
      font-weight: $font-bold;
      font-size: 1.25rem;
      padding-bottom: 4px;
    }

    .ShopCard--Content--Address {
      padding-bottom: 12px;
    }

    .ShopCard--Content--OpenStatus {
      cursor: pointer;
      padding-bottom: 8px;

      .ShopCard--Content--OpenStatus--Status {
        display: inline-block;
        font-weight: $font-bold;
      }

      .ShopCard--Content--OpenStatus--NextStatus {
        display: inline-block;
        padding-left: 16px;
        padding-right: 8px;
      }

      .ShopCard--Content--OpenStatus--Description {
        font-size: 0.5rem;
        color: $color-text-attention;
      }
    }

    .ShopCard--Content--Hours {
      width: 100%;
      border-bottom: 0;
      padding: 0;
      transform: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height $short ease-in-out;

      &.ShopCard--Content--Hours__Show {
        display: inline-block;
        max-height: 270px;
        padding-bottom: 20px;
      }

      .ShopCard--Content--Hours--List {
        .ShopCard--Content--Hours--List--Item {
          display: flex;
          width: 100%;

          &.ShopCard--Content--Hours--List--Item__Active {
            font-weight: $font-bold;
          }

          .ShopCard--Content--Hours--List--Item--Day {
            flex: 1;
          }

          .ShopCard--Content--Hours--List--Item--Time {
            flex: 1;
            text-align: right;
          }
        }
      }
    }

    .ShopCard--Content--Tel {
      display: inline-block;
      width: 100%;
      margin: 4px 0 8px;

      .Icon {
        font-size: 1.25rem;
      }
    }

    .ShopCard--Content--Email {
      display: inline-block;
      width: 100%;
      margin: 4px 0 8px;

      .Icon {
        font-size: 1.25rem;
      }
    }

    .ShopCard--Content--Media {
      display: flex;
      max-width: 324px;
      justify-content: space-between;
      margin-bottom: 16px;

      .ShopCard--Content--Media--Item {
        $size: 32px;
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        background: $color-shadow;
        color: white;
        text-align: center;
        margin: 0;
        border-radius: $radius;

        img {
          width: 100%;
        }

        &.ShopCard--Content--Media--Item__Active {
          background: $color-text;
        }
      }
    }

    .ShopCard--Content--Services {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .ShopCard--Content--Services--Item {
        display: inline-block;
        min-width: 24%;
        max-width: 24%;

        .ShopCard--Content--Services--Item--Content {
          $height: 28px;
          position: relative;
          display: inline-block;
          width: 100%;
          height: $height;
          color: $color-text-hint;
          border: $border;
          border-width: 2px;
          border-radius: calc($height / 2 + 2px);
          font-weight: $font-bold;

          .ShopCard--Content--Services--Item--Content--Text {
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            font-size: 0.5rem;
            text-align: center;
            line-height: 1.1em;
          }
        }

        &.ShopCard--Content--Services--Item__PartialSupport .ShopCard--Content--Services--Item--Content {
          $color: #fb8c00;
          border-color: $color;
          color: $color;
        }

        &.ShopCard--Content--Services--Item__Support .ShopCard--Content--Services--Item--Content {
          $color: #e53935;
          border-color: $color;
          color: $color;
        }
      }
    }

    .ShopCard--Content--ServicesDescription {
      .ShopCard--Content--ServicesDescription--Label {
        font-size: 0.5rem;
        margin-right: 8px;
      }

      .ShopCard--Content--ServicesDescription--Text {
        display: inline-block;
        color: $color-text-hint;
        border: $border;
        border-width: 2px;
        border-radius: 1rem;
        font-weight: $font-bold;
        font-size: 0.5rem;
        padding: 0 8px;

        & + .ShopCard--Content--ServicesDescription--Text {
          margin-left: 8px;
        }

        &.ShopCard--Content--ServicesDescription--Text.ShopCard--Content--ServicesDescription--Text__PartialSupport {
          $color: #fb8c00;
          border-color: $color;
          color: $color;
        }

        &.ShopCard--Content--ServicesDescription--Text.ShopCard--Content--ServicesDescription--Text__Support {
          $color: #e53935;
          border-color: $color;
          color: $color;
        }
      }
    }
  }
}

@media screen and (min-width: calc($width-map-modal * 2)) {
  .ShopCard {
    width: $width-map-modal;
  }
}
